<div class="row">
  <div class="span1"><%= favourite_link(current_user, venue.id) %></div>
  <div class="span2"><%= link_to venue.name, venue.canonical_url, target: "_blank" %></div>
  <div class="span3"><%= venue.categories %></div>
  <div class="span4"><%= "#{venue.address}, #{venue.city}, #{venue.country}" %></div>
  <div class="span2"><%= venue.distance %>m</div>
</div>
